/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                                    /*PÁGINAS DE CADASTRO E LOGIN*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
body{
    margin: 0;
    font-family: 'Noto Sans',sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-cadastro{
    width: 100vw; /* vw(viewport-width): porcentagem da largura da viewport(tela)  / 100vh --> 1000px */
    height: 100vh; /*vh(viewport-heigth)*/
    background: #08001a;
    display: flex;
    justify-content: center;
    align-items: center;
}



.lado_esquerdo{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lado_esquerdo > h1{
    color: rgb(0, 255, 115);
}

.imagem_esqueda{
    width: 35vw;
}

.lado_direito{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_cadastro{
    width: 70%; /*ao usar %, ele usa somente o tamanho da div em questão*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; /*padding é a margem de dentro, o primeiro numero se refere ao eixo Y, e o segundo ao eixo X*/
    background: #0f072e;
    border-radius: 25px;
    box-shadow: 0px 10px 30px #00000057;
}

.card_cadastro > h1{
    color: rgb(4, 212, 98);
    font-weight: 800;
    margin: 0;
}

.card_login{
    color: rgb(4, 212, 98);
    font-weight: 800;
    margin: 0;
}

.textfild{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfild > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px; /*ao colocar somente um valor, ele vai servir tanto para o eixo X, quanto para o eixo Y*/
    background: #382d6957;
    color: rgb(190, 255, 217); /*cor do input*/
    font-size: 12pt;
    box-shadow: 0px 10px 30px #0000003b;
    outline: none; /*ao passar o mause por cima do input, não ira criar mais aquela "caixa de seleção"*/
    box-sizing: border-box; /*para corrigir a borda que estava passando do limite da div*/
}

.textfild > label{
    color: aliceblue;
    margin: 10px 0px;
}

.textfild > input::placeholder{
    color: #524f7c;
}

.btn-cadastro{
    width: 100%;
    padding: 16px 0px;
    margin: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #0f072e;
    background: #04d462;
    cursor: pointer;
    box-shadow: 0px 5px 40px -10px  rgba(4, 212, 98, 0.5);
}

.btn-login{
    width: 100%;
    padding: 4px 0px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 2px;
    color: #0f072e;
    background: #04d462;
    cursor: pointer;
    box-shadow: 0px 5px 40px -10px  rgba(4, 212, 98, 0.5);
}

.btn-login1{
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #0f072e;
    background: #04d462;
    cursor: pointer;
    box-shadow: 0px 5px 40px -10px  rgba(4, 212, 98, 0.5);
}

.jafezcadastro{
    margin-left: 0px;
    margin-right: 7px;
    margin-top: 10px;
}

.não_fez_cadastro{
    margin-left: 80px;
}

.não_fez_cadastro1{
    margin-left: 60px;
}

.recuperar_senha{
    margin-right: 80px;
    margin-left: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #04d462;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                                             /*(INDEX)*/
/**//**//**//**//**//**//**//**//**//**//**//*//**//***//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 30px;
}

.main-cadastro2{
    width: 100vw; /* vw(viewport-width): porcentagem da largura da viewport(tela)  / 100vh --> 1000px */
    height: 100vh; /*vh(viewport-heigth)*/
    background: #08001a;
    display: flex;
}

#a1{
    text-decoration: none;
}
#header_index{
    background:#0f072e;
}
.navegacao{
    display: flex;
    list-style-type:none;
}
.navegacao a{
    color:#fff;;
    font-weight: 500;
    margin: 0 30px;
    text-decoration: none;
}

.navegacao a:hover{
    color:#04d462;
}


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                                             /*(vendedor_desativar)*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

h1 {
    color: rgb(0, 255, 115);
}

.main-cadastro10{
    width: 150vw; /* vw(viewport-width): porcentagem da largura da viewport(tela)  / 100vh --> 1000px */
    height: 150vh; /*vh(viewport-heigth)*/
    background: #08001a;
    color:white
}



/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                                             /*(vendedor_editar)*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.mH20{
    color: rgb(0, 255, 115);
    width: 100vw; /* vw(viewport-width): porcentagem da largura da viewport(tela)  / 100vh --> 1000px */
    height: 100vh; /*vh(viewport-heigth)*/
    background: #08001a;
    display: flow-root;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                                             /*(cadastro_produto)*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.cadastro-produto{
    color: rgb(0, 255, 115);
    width: 150vw; /* vw(viewport-width): porcentagem da largura da viewport(tela)  / 100vh --> 1000px */
    height: 150vh; /*vh(viewport-heigth)*/
    background: #08001a;
    color:white
}
#tabproduto{
    color: rgb(0, 255, 115);
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 0px 5px 40px -10px  rgba(4, 212, 98, 0.5);
}

    

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                                             /*(forma_pagamento)*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.pagamento {
    color: rgb(0, 255, 115);
    width: 100vw; /* vw(viewport-width): porcentagem da largura da viewport(tela)  / 100vh --> 1000px */
    height: 100vh; /*vh(viewport-heigth)*/
    background: #08001a;
    display: flow-root;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
                                             /*(rastreamento)*/
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.rastreamento {
    color: rgb(0, 255, 115);
    width: 100vw; /* vw(viewport-width): porcentagem da largura da viewport(tela)  / 100vh --> 1000px */
    height: 100vh; /*vh(viewport-heigth)*/
    background: #08001a;
    display: flow-root;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color:  rgb(0, 255, 115);
    color: black;
    border: none;
    cursor: pointer;
}